{{#if user}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="./css/customers.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui-1.12.0.css">
    <script src="../js/jquery-1.12.4.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
</head>
<body>
<div id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="jumbotron">
        <h1>CUSTOM BLINDS AND COMPONENTS, INC.</h1>
        <h2>CUSTOMER PORTAL</h2>
        <h3>Welcome {{user.user_name}}</h3>
    </div>
    </div>
</div>
<div id="wrapper" style="top:88px;">
    <div id="sidebar-wrapper" class="col-md-1">
        <div id="sidebar">
            <ul class="nav list-group">
                <li>
                    <a class="list-group-item list-group-item-info" href="#submenu"  data-toggle="collapse" data-parent="#sidebar" style="margin-bottom:0;">New Order</a>
                    <div class="collapse" id="submenu">
                        <a href="/customers/RegularOrder" class="list-group-item">Regular Order</a>
                        <a href="/customers/orderForm" class="list-group-item">Contract Order</a>
                        <a class="list-group-item list-group-item-info" href="#cartmenu"  data-toggle="collapse" data-parent="#sidebar" style="margin-bottom:0;">View Cart</a>
                        <div class="collapse" id="cartmenu">
                            <a href="/customers/shoppingCart" class="list-group-item">Regular Orders</a>
                            <a href="/customers/customCart" class="list-group-item">Custom Orders</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="list-group-item list-group-item-info" href="#"><i class="icon-home icon-1x"></i>Order Status(n)</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-info" href="#"><i class="icon-home icon-1x"></i>Accounting(n)</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-info" href="/customers/changePassword"><i class="icon-home icon-1x"></i>Account Settings</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-info" href="#"><i class="icon-home icon-1x"></i>Other Request(n)</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-wrapper" class="col-md-11 pull-right">
        <div id="main">
            <div class="container" style="align-content: center;">
                <h3>OPEN ORDERS</h3>
                <div class="left" id="table-scroll">
                <table class = "main" id="sort">
                    <thead><tr><th>Web Order Number</th><th>Order Number</th><th data-toggle="tooltip" data-placement="top" title="MM/DD/YYYY">Order Date</th><th>Order Type</th><th>PO Number</th><th>Order Status</th></tr></thead></tbody>
                    {{{data}}}
                </table>
                    <button id='showolder' onclick="showolder();this.style.display='none';">Show Older Open Orders</button>
                    <button id='hideolder' onclick="hideolder();this.style.display='none';" style="display:none">Hide Older Open Orders</button>
                </div>
            </div>
            <div class="right" >
                <h3>KEY</h3>
                <table class="main"><thead><tr><th>Status</th><th>Definition</th></tr></thead><tbody><td>1</td><td>Order Entered</td></tr><tr><td>4</td><td>Order Confirmed</td></tr><tr><td>7</td><td>Order Ready</td></tr><tr><td>W</td><td>Web Order</td></tr></tbody></table>
            </div>
        </div>

        <div class="col-md-12 footer">

        </div>

    </div>
</div>
<script type="text/javascript" src="../js/jquery.tablesorter.min.js"></script>
<script src="./js/cushome.js"></script>
</body>
{{else}}
    <div class="jumbotron">
        <h1>You are not logged in</h1>
        <p>Please Sign In</p>
        <p>
            <a href="/signin" class="btn btn-primary btn-lg" role="button">
                <span class="glyphicon glyphicon-user"></span>
                Sign in!
            </a>
        </p>
    </div>

{{/if}}