<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    </head>
<body>
    <table id="body">
        <tr>
            <form action="/DetailedReport" id="sofield" method="post"><td>SO#</td><input type = "text" name="SONUM" id="SONUM" value="{{SONUM}}" onkeypress="script(event,this)"></form>
        </tr>
        <tr>
            <td>LINE</td>
            <td>QTY</td>
         <!--   <td>SUMMARY</td>
            <td>A/S</td>
            <td>TIME</td>-->
        </tr>
    </table>
<script src = "./js/progressreport.js"></script>
</body>
</html>