{{#if user}}
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="./css/basic.css">
</head>
<body>

    <table id="body">
        <thead><tr><th width="4%"><B>LN</B></th><th>Item</th><th>Quantity</th><th>Action</th></tr></thead>
        <tbody>
            {{{data}}}
        </tbody>
    </table>
    <script src="./js/jquery-1.12.4.js"></script>
    <script src="./js/shopcart.js"></script>
</body>




{{else}}
    <div class="jumbotron">
        <h1>You are not logged in</h1>
        <p>Sign in and view your profile!</p>
        <p>
            <a href="/signin" class="btn btn-primary btn-lg" role="button">
                <span class="glyphicon glyphicon-user"></span>
                Sign in!
            </a>
        </p>
    </div>

{{/if}}