<html>
<head>
    <meta http-equiv="refresh" content="10;url=/customers/home" />
</head>
<body>
<h1>Redirecting you to the home page in 10 seconds...</h1>
<h1>Press <a href="/customers/home"><b>OKAY</b></a> to redirect now.</h1>
</body>
</html>