<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="60" >
    <meta charset="UTF-8">
    <title>TICKET LIST</title>
    <link rel="stylesheet" type="text/css" href="../css/picktickets.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui-1.12.0.css">
    <script src="../js/jquery-1.12.4.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="../js/jquery.tablesorter.min.js"></script>
</head>
<body>
<div style="margin-bottom:0.5em;"><a href="/workers/home"> <input type="button" value="BACK" /></a><input type="button" value="Refresh Page" onClick="window.location.reload()"></div>
<table class = "main" id="sort">
    <b>NOT STARTED</b>
    <thead><tr><th class="index" style="display:none;">No.</th><th width="30%">CUST ID</th><th width="30%">SONUM</th><th>DATE</th><th>MODIFIED</th><th>DATABASE</th></tr></thead>
    <tbody>
    {{{data}}}
    </tbody>
</table>
<table class = "main">
    <b>STARTED</b>
    <thead><tr><th class="index" style="display:none;">No.</th><th width="30%">CUST ID</th><th width="30%">SONUM</th><th>DATE</th><th>MODIFIED</th><th>DATABASE</th></tr></thead>
    <tbody>
    {{{data2}}}
    </tbody>
</table>
<table class = "main">
    <b>COMPLETED</b>
    <thead><tr><th class="index" style="display:none;">No.</th><th width="30%">CUST ID</th><th width="30%">SONUM</th><th>DATE</th><th>MODIFIED</th><th>DATABASE</th></tr></thead>
    <tbody>
    {{{data3}}}
    </tbody>
</table>
<script type="text/javascript" src="../js/ticketList.js"></script>
</body>