{{#if user}}
    <head>
        <title>View Order</title>
        <link rel="stylesheet" type="text/css" href="./css/basic.css">
    </head>
    <body>
        <table border="1">
            <thead>
            <tr class='gray'><th width='10%'>LN</th><th width='10%'>ORDERED</th><th>UOM</th><th colspan="2">ITEM NO</th></tr>
            </thead>
            <tbody>
            {{{data}}}
            </tbody>
        </table>

    </body>
    <footer><a href="/customers/cancel"><input type="button" value="Cancel Order" onclick="alert('This button doesn\'t do anything yet. Sorry!')"></a></footer>
{{else}}
    <div class="jumbotron">
        <h1>You are not logged in</h1>
        <p>Sign in and view your profile!</p>
        <p>
            <a href="/signin" class="btn btn-primary btn-lg" role="button">
                <span class="glyphicon glyphicon-user"></span>
                Sign in!
            </a>
        </p>
    </div>

{{/if}}