<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="../css/picktickets.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
</head>
<body>
<div id="mySidenav" class="sidenav">
    {{user}}
    <a href="../routes/TicketList?status=now">Pick Ticket List</a>
    <a href="../routes/TicketList?status=check">Pick Ticket Check</a>
    <a href="../routes/TicketList?status=history">History</a>
        <a href="#">Future</a>
</div>
</body>