@media print{
    .navbar{ display:none;}
    @page {size: landscape}
}
.container {
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
}​
table, th, td{
    border: 1px solid black;
    /*border-collapse: collapse;*/
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
}
span{
    border: 1px solid gray;
    display: inline-block;
    height: 21px;
    vertical-align:top;
    margin-bottom: 3px;
    margin-right: 2px;
}
th, td {
    padding: 3px;
    text-align: left;
}
#body {
    counter-reset: rowNumber;
}
#body {
    table-layout: fixed;
    padding: 0px;
    text-align:center;
  /*  width:100%;   Intentionally want to overflow out the side of the page if screen too small
    max-width:100%; Functionality over aesthetics I guess */
    box-sizing: border-box;
}
#body tr:not(:first-child){
    counter-increment: rowNumber;
}

#body tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
input[type="text"] {
    width: 99%;
    padding-right : 1px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
span>input[type="text"]{
    width:auto;
    margin-top:0px;
    height:10px;
}
#header input[type="text"]{
    border: none;
    border-color: transparent;
}

/*
.right {
    text-align: right;
    float: right;
}*/

.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
    overflow-y:auto;
}
.tt-suggestion {
    font-size: 24px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
button{
    border-radius: 12px;
}
.body{
    overflow-x: auto;
}