.main {
    font-family: Arial, Verdana, sans-serif;
    font-size: 4em;
    color: #00f;
    width: 90%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.main, th, td{
    border: 1px solid black;
}
.sub{
    font-family:Arial,Verdana,sans-serif;
    font-size:1.5em;
    width: 99%;
    align-content: center;
    border-collapse: collapse;
}
.sub, td{
    text-align: center;
}
.sub, td p{
    word-wrap: break-word;
}
.under{
    font-family:Arial,Verdana,sans-serif;
    font-size:1.5em;
    width: 99%;
    align-content: center;
    margin-top: 13em;
    padding-top:1px;
    border-collapse: collapse;
}
.fixed{
    font-family:Arial,Verdana,sans-serif;
    font-size:1.5em;
    width: 99%;
    align-content: center;
    position:fixed;
    top:0;
    background-color: white;
    border-collapse: collapse;
}
.infobox{
    background-color:yellow;
}
.gray{
    background-color:#d3d3d3;
}
.nothing{
    margin: 0;
    padding: 0;
}
.itemnobox{
    border:none;
    font-weight:bold;
    font-size:1.3em;
    width: 9em;
    word-wrap: break-word;
    word-break: break-all;
}
.blank_row
{
    height: 20px !important; /* Overwrite any previous rules */
    background-color: #FFFFFF;
}